@charset "utf-8";

*{
	margin:0;
	padding:0;
}
div.container{
	width:100px;
	height:20px;
}
a{
	width:102px;
	height:150px;
	margin-left:15px;
}
footer{
	width:300px;
	height:200px;
	li{
	width:200px;
	height:60px;
	a:nth-child(1){
	font-size:12px;
	}
	a{
	color:red;
	&hover{
	color:blue;
	}
	}

	}
}

